{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Ferremas{% endblock %}

{% block content %}
  <!-- Título de sección -->
  <div class="section-label container">
    <span>Inicio</span>
  </div>

  <!-- Banner de bienvenida -->
  <main class="inicio-page container">
    <section class="info-section bg-orange">
      <div class="info-content">
        <!-- Texto de bienvenida -->
        <div class="info-text">
          <h1>Bienvenido a Ferremas.</h1>
          <p>Aquí podrás encontrar tus futuras herramientas, materiales de construcción, artículos y mucho más. Tenemos un extenso <a href="{% url 'catalogo' %}">Catálogo</a> de productos el cual puedes explorar en el apartado “Catálogo”.</p>
          <p>Nuestro servicio recorre todo Chile para satisfacer a nuestro público, con varias sucursales en la <a href="{% url 'nosotros' %}">región metropolitana</a> y en otras regiones, donde podrás retirar tus herramientas o, para mayor comodidad, también contamos con sistema de despacho a domicilio, más información en “<a href="{% url 'nosotros' %}">Nosotros</a>”.</p>
          <p>Si tienes alguna duda, reclamo o sugerencia, te sugerimos revisar nuestra sección de <a href="{% url 'contacto' %}">Contacto</a> para ayudarte.</p>
        </div>
        <!-- Imagen circular -->
        <div class="info-image">
          <img src="{% static 'images/imagen.jpg' %}" alt="Imagen bienvenida">
        </div>
      </div>
    </section>
  </main>
{% endblock %}